<?xml version="1.0"?>
<launch>
  <node pkg="usb_cam" type="usb_cam_node" name="camera" output="screen">
    <param name="camera_name" value="elecom_ucam"/>
    <param name="camera_frame_id" value="camera_link"/>
    <param name="video_device" value="/dev/video0"/>
    <param name="image_width" value="640"/>
    <param name="image_height" value="480"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="io_method" value="mmap"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="camera_transform_publisher" args="0 0 -0.478 0 0 0 1 /world /camera_link 1"/>
  <node pkg="rsj_2017_block_finder" type="block_finder" name="block_finder" args="$(arg method)" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rsj_2017_block_finder)/config/rsj_2017_block_finder.rviz"/>
</launch>
